@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<registerLogin.Models.RegisterLogin>
<h5>Kayıt ekranı</h5>


<div class="form-group">
	<label>İsminizi girinizi:</label>
	<input class="form-control" data-val="true" data-val-required="-" id="userName" name="UserName" placeholder="İsminizi giriniz" Required="required" type="text" value="" />
</div>
<br />

<div class="form-group">
	<label>Mailinizi girinizi:</label>
	<input class="form-control" data-val="true" data-val-required="-" id="usermail" name="Mail" placeholder="Mailinizi giriniz" Required="required" type="text" value="" />
</div>
<br />

<div class="form-group">
	<label>Soyadınızı girinizi:</label>
	<input class="form-control" data-val="true" data-val-required="-" id="userSurName" name="SurName" placeholder="Soyadınızı giriniz" Required="required" type="text" value="" />
</div>
<br />

<div class="form-group">
	<label>Şifrenizi girinizi:</label>
	<input class="form-control" data-val="true" data-val-required="-" id="userPassword" name="Password" placeholder="Şifrenizi girin giriniz" Required="required" type="password" value="" />
</div>
<br />

<div class="form-group">
	<label>Şifrenizi girinizi:</label>
	<input class="form-control" data-val="true" data-val-required="-" id="confirmPassword" name="Password" placeholder="Şifrenizi girin giriniz" Required="required" type="password" value="" />
</div>

<input type="submit" id="regUser" value="Register"  />

<a href="~/lib/jquery/dist/jquery.min.map"></a>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/Index.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
